* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000000;
  color: #ffffff;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1021px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

#sales {
  padding: 4rem 1rem;
}

.react-datepicker_month-container {
  font-size: 100%;
}
